.constructor-panel {
    z-index: 999990;
    width: 100%;

    font-family: sans-serif;
    font-size: 14px;

    background: #111112;
    color: #eee;

    display: flex;
}

.constructor-panel .item {
    padding: 8px 20px;
    white-space: nowrap;
    display: flex;
    cursor: pointer;
    color: #eee;
    text-decoration: none;
}

.constructor-button { 
    background: transparent;
    border: 0;
}

.constructor-panel .item.right {
    margin-left: auto;
}

.constructor-panel .item:hover {
    background: #333334;
}

.constructor-panel .item .submenu-container {
    position: relative;
    display: none;
}

.constructor-panel .item:hover .submenu-container {
    position: absolute;
    display: block;
}

.constructor-panel .item .submenu-container .submenu {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 22px;
    left: -20px;
    padding-bottom: 5px;

    background: #111112;
    color: #eee;
}


