.constructor-panel {
    z-index: 999990;
    width: 100%;

    font-family: sans-serif;
    font-size: 14px;

    background: #111112;
    color: #eee;

    display: flex;
}

.constructor-panel .item {
    padding: 8px 20px;
    white-space: nowrap;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #eee;
}

.constructor-panel .item.right {
    margin-left: auto;
}

.constructor-panel .item:hover {
    background: #333334;
}

.constructor-panel .item .submenu-container {
    position: relative;
    display: none;
}

.constructor-panel .item:hover .submenu-container {
    position: absolute;
    display: block;
}

.constructor-panel .item .submenu-container .submenu {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 22px;
    left: -20px;
    padding-bottom: 5px;

    background: #111112;
    color: #eee;
}

/*/////////////////
// POPUP
/////////////////*/

.constructor-popup {
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgb(0,0,0,0.75);
}

.constructor-popup.show {
    display: flex;
}

.constructor-popup .popup {
    display: none;
    padding: 5px;

    border-radius: 3px;
    box-shadow: 2px 2px 3px 1px rgb(0,0,0,0.3);

    background: #eee;
}

.constructor-popup .popup.show {
    display: block;
}

