<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title|e }}{% endblock %}</title>
        {% block stylesheets %}
            {% for style in stylesheets %}
                <link rel="stylesheet" src="{{ style|e }}">
            {% endfor %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% for script in scripts %}
                <script src="{{ script|e }}"></script>
            {% endfor %}
        {% endblock %}
    </body>
</html>
