:root {
    --panel-color-red: #c20;
    --panel-color-green: #0c0;
    --panel-color-blue: #07c;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*//////////
Общие классы
//////////*/

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-float-right {
    margin-left: auto;
}

.flex-float-bottom {
    margin-top: auto;
}

.flex-resize {
    flex: 1;
}

/* Заставляет элемент принимать максимальный размер, не выходя за пределы контейнера */
.flex-fill-container {
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.flex-self-center {
    align-self: center;
}

.flex-self-start {
    align-self: start;
}

.flex-self-end {
    align-self: end;
}

.flex-self-stretch {
    align-self: stretch;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.scroller-vertical {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.scroller-horizontal {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.scroller-item {
    flex: 0 0 auto;
}


/* стили контента */

.content-container {
    padding: 30px;
}

.content-container-title {
    font-family: sans-serif;
    color: #555;
    font-size: 24px;
    font-weight: bold;
}

.content-container-title.big {
    color: #888;
    font-size: 36px;
}

.content-container-block {
    font-family: sans-serif;
    margin: 20px 0;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 1px rgb(0,0,0,0.25);
}

/* список */

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.list-title {
    font-family: sans-serif;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

.list-line {
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-line > * {
    margin-right: 10px;
}

.list-line > *:last-child {
    margin-right: inherit;
}

.list-line.no-spread {
    justify-content: start;
}

.list-label {
    font-family: sans-serif;
    color: black;
}

.list-label.size-10 {
    min-width: 10%;
}

.list-label.size-20 {
    min-width: 20%;
}

.list-label.size-30 {
    min-width: 30%;
}

.list-label.bold {
    font-weight: bold;
}

/* tabs */

.content-tab-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.content-tab-buttons {
    display: flex;
    flex-direction: row;
}

.content-tabs {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
    background-color: white;

    box-shadow: 2px 2px 5px 1px rgb(0,0,0,0.25)
}

.content-tab {
    display: none;
    flex-direction: column;
    flex: 1;
    padding: 30px;
}

.content-tab.show {
    display: flex;
}

.content-tab-button-wrapper {
    flex: 1 1 0;
    min-width: 0;

    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;

    margin: -5px;
    margin-bottom: 0;
}

.content-tab-button-wrapper > .content-tab-button {
    margin: 5px;
    margin-bottom: 0;
    padding: 10px;
    color: #666;
    background-color: transparent;
}

.content-tab-button:not(.active):hover {
    color: #333;
}

.content-tab-button.active {
    color: #111;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgb(0,0,0,0.25);
}

/* fold */

.fold {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.fold-header {
    position: relative;
    display: flex;
    align-items: center;

    padding-left: 40px;
    height: 40px;

    font-weight: bold;
    color: #777;
    background-color: white;
    cursor: pointer;

    transition: none .15s ease;
    transition-property: background-color, color;
}

.fold.unfolded > .fold-header {
    background-color: #ccc;
    color: black;
}

.fold-header:before {
    content: '>';
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #888;

    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: none .15s ease;
    transition-property: transform, color;
    transform: rotate(0deg);
}

.fold.unfolded > .fold-header:before {
    transform: rotate(90deg);
    color: black;
}

.fold-content {
    padding: 10px;
}

.fold:not(.unfolded) > .fold-content {
    display: none;
}

/* inputs */

.input-button,
.input-field {
    outline: 0;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 14px;
}

.input-button {
    background: white;
    border: 1px solid #666;
    color: #666;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.input-button.big {
    padding: 10px 20px;
    font-size: 16px;
}

.input-button:hover {
    background: #666;
    color: white;
}

.input-button.red {
    border-color: var(--panel-color-red);
    color: var(--panel-color-red);
}
.input-button.red:hover {
    background: var(--panel-color-red);
    color: white;
}

.input-button.green {
    border-color: var(--panel-color-green);
    color: var(--panel-color-green);
}
.input-button.green:hover {
    background: var(--panel-color-green);
    color: white;
}

.input-button.blue {
    border-color: var(--panel-color-blue);
    color: var(--panel-color-blue);
}
.input-button.blue:hover {
    background: var(--panel-color-blue);
    color: white;
}
.input-button:disabled {
    background: #ccc !important;
    border: 1px solid #666 !important;
    color: #888 !important;
    cursor: default !important;
}

.input-field {
    border: 1px solid #aaa;
    background: white;
}

.input-field:disabled {
    background: #eee;
    color: #666;
    cursor: default;
}

.input-field.error {
    border-color: var(--panel-color-red);
}

.input-textarea {
    background: white;
    border: 1px solid #bbb;
    padding: 5px 10px;
}

.input-checkbox {
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    outline: 0;
    background-color: white;   
    
    border-radius: 0.75em;
    width: 2.5em;
    height: 1.5em;

    transition: background-color .2s ease, border-color .2s ease;
}

.input-checkbox:before {
    content: '';
    height: 1.2em;
    width: 1.2em;

    position: absolute;
    top: 0.1em;
    left: 0.1em;
    border-radius: 0.65em;
    background-color: #aaa;

    transition: left .2s ease, background-color .2s ease;
}

.input-checkbox:checked {
    background-color: var(--panel-color-blue);
    border: 1px solid var(--panel-color-blue);
}

.input-checkbox:checked:before {
    left: 1.05em;
    background-color: white;
}

.input-checkbox:disabled {
    background-color: #cfcfcf;
}

.input-checkbox:checked:disabled {
    border: 1px solid #ccc;
    background-color: #cfcfcf;
}

/* декоративные */

.block-margin {
    margin: 10px 0px;
}

.block-margin-small {
    margin: 5px 0px;
}

.block-border {
    border: 1px solid #ccc;
}

.block-padding {
    padding: 5px 10px;
}

.block-disabled {
    background: #eee;
}

/*////////////////
Внешний вид панели
////////////////*/

/* Обёртка всей админ панели, потому что symfony в режиме отладки добавляет дебаг-панель, которая всё ломает */
.admin-panel {
    position: absolute;
    width: 100%;
    height: 100%;  
}

/* Боковая панель */

.admin-panel-sidebar {
    background-color: #444450;

    font-family: sans-serif;
    color: white;
}

.sidebar-header {
    background-color: #111120;
}

.sidebar-header-item {
    padding: 10px 20px;
}

.sidebar-header-user {
    font-size: 0.75em;
    align-self: center;;
    color: #dddddd;
}

.sidebar-header-link {
    color: inherit;
    text-decoration: none;
}

.sidebar-header-link:hover {
    background-color: #222230;
}

/* Меню */

.sidebar-menu::-webkit-scrollbar { display: none; }

.sidebar-menu-item {
    color: white;
    text-decoration: none;
    background-color: #444450;
}


.sidebar-menu-item:not(.active):hover {
    background-color: #555560;
}

.sidebar-menu-item-title {
    padding: 10px 20px;
}

.sidebar-menu-item.active .sidebar-menu-item-title {
    position: relative;
}

.sidebar-menu-item.active .sidebar-menu-item-title:after {
    content: '';
    display: inline;
    position: absolute;
    right: 0;

    border: 0.5em solid transparent;
    border-right: 0.5em solid #eeeeee;
}

.sidebar-menu-item.active .sidebar-menu-item-title {
    background-color: #0099cc;
}

.sidebar-submenu {
    padding: 10px 0px;
    background-color: #555560;
}

.sidebar-submenu-item {
    color: #bbbbbb;
    text-decoration: none;
    font-size: 0.875em;

    padding: 5px 20px 5px 30px;
}

.sidebar-submenu-item:not(.active):hover {
    background-color: #666670;
}

.sidebar-submenu-item.active {
    background-color: #666670;
    color: white;
    font-weight: bold;
}

.admin-panel-content {
    background-color: #eeeeee;
}





