<script src="/assets/ckeditor.js"></script>
<script src="/assets/ckeditor-config.js"></script>
<script type="text/javascript" src="/bundles/cksourceckfinder/ckfinder/ckfinder.js"></script>
<script>CKFinder.config( { connectorPath: '/ckfinder/connector' } );</script>

<div id="filemanager" class="flex-fill-container">

</div>
<script>
    CKFinder.widget('filemanager', {
        height: '100%'
    });
</script>

