<div class="left-sidebar">
    {% for module in data %}
        {% if module.data.format == 'MenuFormat' %}
            {{ include('blocks/left-sidebar-menu.html.twig', {'data': module.data}, with_context = false) }}
        {% else %}

        {% endif %}
    {% endfor %}
</div>