<html>
    <head>
        <link rel="stylesheet" href="/theme/css/reset.css">
        <link rel="stylesheet" href="/theme/css/bundle.scss">
    </head>
    <body>
        <div class="test">
            Hello, world!
        </div>
    </body>
</html>